<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>10328542517-c2nsp44mcbahqaq0pc5lssv2vdg84td7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.10328542517-c2nsp44mcbahqaq0pc5lssv2vdg84td7</string>
	<key>API_KEY</key>
	<string>AIzaSyClIJ4DOhmE2gzLjTzHK2HwAsgr06m-FU4</string>
	<key>GCM_SENDER_ID</key>
	<string>10328542517</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.greenhouseApp2.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>iotgreen-d0bab</string>
	<key>STORAGE_BUCKET</key>
	<string>iotgreen-d0bab.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:10328542517:ios:9247cf16196eb647c9507c</string>
	<key>DATABASE_URL</key>
	<string>https://iotgreen-d0bab-default-rtdb.firebaseio.com</string>
</dict>
</plist>